.Board {
  display: flex;
  margin: 20px;
  justify-content: center;
}

.Board__ButtonContainer {
  display: inline-flex;
}

.Board__Button {
  background-color: #4903aa;
  color: white;
  display: inline-block;
  border: 2px solid rgb(192, 192, 192);
  border-radius: 6px;
  padding: 6px 12px;
  margin-right: 5px;
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
  outline: none;
}

.Board__Button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.Board__Button:active {
  transform: translateY(0.5px);
  filter: saturate(50%);
}

.Board__Button:hover {
  background-color: white;
  color: #4903aa;
}

.Board__Input {
  color: #4903aa;
  min-width: 100px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
  border: 2px solid rgb(192, 192, 192);
  border-radius: 6px;
}
