.App {
  text-align: center;
}

.App__Header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App__Title {
  font-size: 1.5em;
}

.App__Content {
  display: flex;
  justify-content: center;
}