.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #4903aa;
}

.App__Header {
  align-items: center;
  background-color: #4903aa;
  display: flex;
  height: 50px;
  justify-content: center;
  padding: 20px;
  color: white;
}

.App__Title {
  align-self: center;
  flex: 1;
  font-size: 2.25em;
  margin: 20px;
}

.App__Button {
  background-color: white;
  color: #4903aa;
  display: inline-block;
  border: 2px solid rgb(192, 192, 192);
  border-radius: 6px;
  padding: 6px 12px;
  margin-right: 5px;
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
  outline: none;
}

.App__Button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.App__Button:active {
  background-color: #4903aa;
  color: white;
}

.App__Button:hover {
  transform: translateY(0.5px);
  filter: saturate(50%);
}

.App__Content {
  display: flex;
  justify-content: center;
}
