.Letter {
  display: block;
  box-sizing: content-box;
  font-size: 16px;
  margin: 2px;
  height: 15px;
  width: 15px;
  box-shadow: inset 0px 0px 40px 5px rgba(0,0,0,0.10);
  border-radius: 15px;
  background: #91ffca;
  padding: 20px;
}

.Letter:disabled {
  background: #ede7f6;
}

.Letter--selected {
  background:  #4903aa !important;
  color: white;
}